/* General */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,100&display=swap');
a:link, a:visited, a:active {
    text-decoration:none;
}

/* Contenedor Principal */
body {
    background: #FFFFFF;
    font-family: "Raleway", sans-serif;
    font-family: "Roboto", sans-serif;
    height: 2410px;
    position: relative;
    width: 1600px;
}

/* Encabezado */

header{
    background-color: rgb(255, 255, 255);
    height: 80px;
    left: 0px;
    top: 0px;
    width: 1600px;
    align-self: start;
}

.web-studio{
    color: rgb(33, 150, 243);
    font-family: "Raleway", sans-serif !important;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    line-height: 31px;
    position: absolute;
    text-align: right;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
}

.banner-encabezado .text-estudio{
    color: rgb(32, 148, 243);
    font-family: "Roboto", sans-serif !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    height: 16px;
    left: 453px;
    letter-spacing: 0.02em;
    position: absolute;
    top: 32px;
    width: 49px;
}

.banner-encabezado .text-portafolio{
    color: rgb(33, 33, 33);
    font-family: 'Roboto', sans-serif !important;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    height: 16px;
    line-height: 16px;
    left: 552px;
    letter-spacing: 0.02em;
    position: absolute;
    top: 32px;
    width: 65px;
}

.banner-encabezado .text-contactos{
    color: rgb(33, 33, 33);
    font-family: 'Roboto', sans-serif !important;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    height: 16px;
    left: 667px;
    line-height: 16px;
    letter-spacing: 0.02em;
    position: absolute;
    top: 32px;
    width: 67px;
}

.banner-encabezado .mail{
    color: rgb(33, 150, 243);
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    height: 16px;
    letter-spacing: 0.02em;
    left: 1000px;
    line-height: 16px;
    position: absolute;
    top: 32px;
    width: 135px;
}

.banner-encabezado .tel{
    color: rgb(117, 117, 117);
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    height: 16px;
    letter-spacing: 0.02em;
    left: 1200px;
    line-height: 16px;
    position: absolute;
    top: 32px;
    width: 118px;
}

.nuestro-negocio{
    background: #2F303A;
    height: 600px;
    left: -4px;
    position: absolute;
    top: 80px;
    width: 1600px;
}

.nuestro-negocio .titulo-nuestro-negocio{
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    font-style: normal;
    height: 120px;
    left: 448px;
    letter-spacing: 0.06em;
    line-height: 60px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 200px;
    width: 696px;
}

.nuestro-negocio .button{
    align-items: center;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 50px;
    justify-content: center;
    left: 666px;
    padding: 10px 32px;
    position: absolute;
    top: 430px;
    width: 261px;
}

.texto-button{
    align-items: center;
    display: flex;
    color: #FFFFFF;
    flex: none;
    flex-grow: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    letter-spacing: 0.06em;
    order: 0;
    text-align: center;
    width: 197px;
}

.descripcion-negocio{
    position: absolute;
    width: 1170px;
    height: 122px;
    left: 215px;
    top: 775px;
}

.nosotros{
    position: absolute;
    width: 1173.16px;
    height: 425px;
    left: 215px;
    top: 991px;
}

.nuestro-equipo{
    position: absolute;
    width: 1600px;
    height: 648px;
    left: 0px;
    top: 1510px;
}

.footer{
    background-color: rgb(47, 48, 58);
    position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2158px;
}


